/* FOR THE ALBUM SHORTCODE, which wraps around the Songs shortcode (most of the time) */


.hd-album {
height: 150px;
/* background-color: #808080; */
}
.hd-album-container {
position: relative;
font-size: medium;
/* background-color: #808000; */ /* Temporary, to identify where the divs are */
}

.hd-album-thumbnail {
float: left;
top: 0;
left: 0;
padding-right: 7px;
}

.hd-album-title {
/* position: relative; */
/* float: left; */
font-size: x-large;
}

.hd-album-text {
/* position: relative; */
/* float: left; */
padding: 7px;
}

.hd-album-buy-alls {
float: right;
position: relative;
bottom: 0;
right: 0;
}

.hd-album-buy-all-mp3s {
float: right;

}

.hd-album-buy-CD {
float: right;

}



/* For the SONG shortcode */

ul.songlist {
list-style-type: none;
}

li.song:nth-of-type(even) {
   background-color: #dfdfdf;
}

.hd-album-individual-song {
font-size: medium;
position: relative;
height: 29px;
clear: both;
/* background-color: #000; */ /* Again temporary */
}
.bigger2 {
/* position: fixed; */
/* float: left; */
}

.hd-album-song-mp3j {
float: left;
}
.hd-album-song-title {
float: left;
font-weight: bold;
line-height: 29px;
}

.hd-album-song-price {
float: right;
line-height: 29px;
}

.hd-album-song-buynow {
float: right;
padding-right: 12px;
}

.hd-album-song-moreinfo {
float: right;
}
