/* $album_opening = '<div class="hd-album-container">'; */
/* $album_thumbnail = '<div class="hd-album-thumbnail">'; */
/* $album_title = '</div><div class="hd-album-title"></div>'; */
/* $album_description = '<div class="hd-album-text">'; */
/* $album_buy_alls = '</div><div class="hd-buy-alls"><div class="hd-buy-all-mp3s">'; */
/* $album_buy_cd = '</div><div class="hd-buy-CD">'; */
/* $album_end = '</div></div> */

/*   $mp3j_info = '<div class="hd-album-individual-song">'; // stripped out <div class="album-song-mp3j"> */
/*   $song_title = '<div class="album-song-title">'; // stripped out </div>  */
/*   $price = '</div><div class="album-song-price"> $'; */
/*   $buy_now = '</div><div class="album-song-buynow">'; */
/*   $more_info = '>Buy Now Link</a></div><div class="album-song-moreinfo"><a href="'; */
/*   $end_string = 'More Info</a></div></div>'; */

/* FOR THE ALBUM SHORTCODE, which wraps around the Songs shortcode (most of the time) */

.hd-album {
height: 150px;
background-color: #808080;
}
.hd-album-container {
position: relative;
background-color: #808000; /* Temporary, to identify where the divs are */
}

.hd-album-thumbnail {
float: left;
top: 0;
left: 0;
}

.hd-album-title {
/* position: relative; */
/* float: left; */
}

.hd-album-text {
/* position: relative; */
/* float: left; */
}

.hd-album-buy-alls {
float: right;
position: relative;
bottom: 0;
right: 0;
}

.hd-album-buy-all-mp3s {
float: right;

}

.hd-album-buy-CD {
float: right;

}



/* For the SONG shortcode */

.hd-album-individual-song {
position: relative;
height: 50px;
background-color: #ffffff; /* Again temporary */
}
.bigger2 {
position: fixed;
/* float: left; */
}
.hd-album-song-mp3j {
float: right;
}
.hd-album-song-title {
float: left;
position:relative;
}

.hd-album-song-price {
float: right;
}

.hd-album-song-buynow {
float: right;
}

.hd-album-song-moreinfo {
float: right;
}
